body { 
    background-color: #9F8C76; /*page colour*/
    margin: 0;
    padding: 20px;
    min-height: 100vh;
}

h1{
    font-family: "Courier New", monospace;
    font-size: 48px;
    font-weight: bold; 
    color: #800000;
}

p{
    font-family: "Papyrus", "Copperplate", fantasy;
    font-size: clamp(16px, 3vw, 24px); /*So screen adapts to fit all screen sizes*/
    max-width: 700px;
}