<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Strength & Security Analyser</title>
</head>
<body>
    <h1>Password Strength & Security Analyser</h1> 
    <p>Analyse your password strength and receive secure password recommendations to improve your online safety!</p>

    <form method="POST">
        <input type="password" name="password" placeholder="Enter your password">
        
        <button type="submit" name="action" value="analyse">
            Analyse Password
        </button>

        <button type="submit" name="action" value="generate">
            Generate Secure Password
        </button>
    </form>
    {% if error_message %}
         <h2>{{ error_message }}</h2>
    {% endif %}

    {% if score is not none %}
         <h2>Your password strength score is: {{ score }}/7</h2>
    {% endif %}
    
    {% if secure_password %}
         <h2>Your recommended secure password is: {{ secure_password }}</h2>
    {% endif %}
<h2 class="tips-heading">Tips for making a secure password: </h2>
<section class="tips-section">
    <div class="tip-card">Use a mix of uppercase, lowercase, numbers and symbols.</div>
    <div class="tip-card">Avoid using personal information like names and birthdays.</div>
    <div class="tip-card">Use longer passwords for better protection.</div>
</section>
</body>
</html>